roteiros/**
roteiros
**/*_gab.*
**/gab_*
.vscode/**
.vscode
**/__pycache__/**
**/__pycache__
.pytest_cache
.pytest_cache/**
.venv/**
.venv
**/.ipynb_checkpoints/**
**/.ipynb_checkpoints
**/*notas_faltas.xlsx
**/tarefas
**/tarefas/**
roda_pylint.py
**/*.log
